<section>

  <div class="block block-hp-top">
    <a class="github-fork left-top" title="Fork me on GitHub" href="https://github.com/blueberryapps/react-bluekit-web" target="_blank">Fork me on github</a>

    <div class="block-content">
      <h1 class="logo"><img src="client/images/logo.svg" alt="Bluekit"></h1>
      <p>Render React components with editable source and live preview</p>
      <p><span class="label label-primary">npm install component-playground</span></p>
    </div>
  </div>

  <div class="block block-hp-sample">
  <div class="block-content">
    <div id="sample" class="sample">
      <img src="/client/images/bluekit-preview.jpg" alt="Bluekit preivew">
    </div>

    <h2 class="h3">Set up</h2>
    <p>In your html document, add the required CodeMirror scripts at the bottom, before your bundle script:</p>

    <div class="code">
<pre>
&lt;script type=&quot;text/javascript&quot; src=&quot;//cdnjs.cloudflare.com/ajax/libs/codemirror/5.0.0/codemirror.min.js&quot;&gt;&lt;/script&gt;
&lt;script type=&quot;text/javascript&quot; src=&quot;//cdnjs.cloudflare.com/ajax/libs/codemirror/5.0.0/mode/javascript/javascript.min.js&quot;&gt;&lt;/script&gt;
</pre>

    </div>

    <p>In your JSX, require the component as use it like this:</p>

    <div class="code">

<pre>
import Button from &rsquo;../components/Button.react.js
&lt;Button
kind=&rsquo;primary&rsquo;
&lt;Playground codeText={componentExample} scope={{React: React, Button: Button}}/&gt;&lt;Playground codeText={componentExample} scope={{React: React, Button: Button}}/&gt;
loading={false}
children=&rsquo;Default ANY&rsquo;
&gt;
Default ANY
&lt;/Button&gt;
</pre>

      </div>

  </div>
  </div>
</section>

<footer class="footer block">
  <div class="block-content">
    Made with love by
    <strong>Blueberry</strong>


  </div>

</footer>
