<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>react-webpack-boilerplate</title>
</head>
  <body>

  <div id="js-main"></div>

  <%- body %>

  <% if (env.production) { %>
    <script async src="<%= env.assets.main.js %>"></script>
  <% } else { %>
    <script src="http://localhost:3000/client/main.js"></script>
  <% } %>
  </body>
</html>
